*, *::after, *::before {
    box-sizing: border-box;
}

body {
    max-width: 32em;
    margin-inline: auto;
    margin-block: 1em;
    font-size: 125%;
}

header {
    text-align: center;
}

ol {
    margin-inline-start: 4em;
}

section {
    margin-inline: auto;
    margin-block: 1em;
    padding: 2em;
    border: 3px solid;
    border-radius: 1em;
}