*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    text-align: center;
}

ol {
    margin-inline-start: 4em;
}

section {
    margin-inline: auto;
    margin-block: 1em;
    padding: 2em;
    border: 3px solid;
    border-radius: 1em;
}

label, input[type="range"] {
    vertical-align: text-bottom;
}